
#more1, #more2, #more3, #more4, #more5, #more6, #more7, #more8, #more9, #more10, #more11, #more12, #more13, #more14, #more15, #more16, #more17, #more18 {
    display: none;
}


img{
    width: 450px;
    height: 265px;
    border-radius: 20px;
    border: 6px solid var(--text-color);
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: center;
}


:root .dark-theme{
    --background-color: #201f1f;
    --text-color: white; 
    --blog-color: black;
    --btn-color: #0151cc; 
    --date-clr: rgba(245, 245, 245, 0.556);
}

:root .light-theme{
    --background-color: #bdbdbd;
    --text-color: black; 
    --blog-color: white;
    --btn-color: #0151cc; 
    --date-clr: rgb(0 0 0 / 61%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
.navbar{
    background: var(--blog-color);
    height: 60px;
    color: var(--blog-color);
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 5px var(--text-color);
}


.navbar li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold

}
.navbar li a:hover{
    color: lightblue;
}
.navbar .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%
}

.navbar ul{
    display: flex;
}

.navbar ul li{
        margin-left: 20px;
}

body{
    font-family: system-ui;
    background: var(--background-color);
}


.button-container {
  display: relative;
  padding-left: 20px;
  padding-bottom: 10px;
  /* justify-content: center; */
}

h1{
    color: var(--text-color);
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    color: var(--btn-color);
    margin-top: 80px;

}

.button {
  background-color: transparent;
  border: none;
  padding-left: 20px;
  text-align: left;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button a{
    color: var(--btn-color);
    text-decoration: none;
    
}
.blog{
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background: var(--blog-color);
    box-shadow: 0 3px 5px  rgb(51, 51, 51);;
    margin-top: 15px;
    font-size: 20px;
    width: 800px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;

}

p{
    color: var(--text-color);
    padding: 20px;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.5em;
    text-align: justify;
}

h2{
    padding-left: 20px;
    padding-right: 20px;
    color: var(--text-color);
    font-size: 1.5rem;
}

h4{
    font-size: 1rem;
    padding-left: 20px;
    padding-top: 20px;
    color: var(--date-clr);
}
.button:hover {
  color: darkblue;
}

body{
    display: flex;
    flex-direction: column;
}

h1 span{
    font-style: italic;
    font-size: 1.1rem;
    color: red;
}

.container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 850px){
    .blog{
        display: block;
        width: 90%;
        margin-left: 0;
    }
    img{
        width: 78vw;
        height: auto;
    }
}
@media(max-width: 510px){
    h2{
        font-size: 1.3rem;
    }
}


.contact-detail{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}

.contact-detail h3{
    font-family: cursive;
    font-weight: lighter;
    font-size: 14px;
}

.contact-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 40px;
    margin-top: 20px;
}

.contact-flex h3{
    color: var(--text-color);
}

.copy h3{
    font-family: cursive;
    font-weight: lighter;
    font-size: 14px;

}

@media(max-width: 945px){
    .contact-flex{
        flex-direction: column;
    }

    .contact-detail{
        width: 100%;
    }
}

@media(max-width: 500px){
    .contact-detail{
        flex-direction: column;
    }
}

