@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root .light-theme {
    --bg-color: #bdbdbd;
    --text-color: #333;
    --h4-color: #0151cc;
    --navbar-bg: white;
    --sec-clr: grey;
    --navbar-color: #fff;
    --navbar-box-shadow: black;
    --box-color: rgb(51, 51, 51);
    --shadow-color-: black;

}

:root .dark-theme {
    --bg-color: #201f1f;
    --text-color: white;
    --h4-color: #0151cc;
    --navbar-bg: black;
    --sec-clr: #fff;
    --navbar-color: #fff;
    --navbar-box-shadow: white;
    --box-color: rgb(51, 51, 51);
    --shadow-color-: rgb(201, 201, 201);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--bg-color);
}

img {
    max-width: 100%;
    /* margin-top: 20px; */
}

h4 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
    color: var(--h4-color);

}

.box h3 {
    font-size: 25px;
    margin: auto;
    text-align: center;
}

h1,
h2 {
    margin-bottom: 15px;
}

.box p a {
    font-size: 23px;
    letter-spacing: 5px;
    text-decoration: none;
    color: hotpink;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    width: 100%;
}


.header {
    background-color: var(--navbar-bg);
    position: relative;
    color: var(--navbar-box-shadow);
    display: flex;
    align-items: center;
    min-height: fit-content;
    height: 100vh;
    top: 40px;

}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
    background-color: var(--navbar-box-shadow);
    display: inline-block;
    padding: 8px 21px 8px 21px;
    border-radius: 55px;
    color: #0151cc;
}

.header img {
    max-width: 300px;
    margin-bottom: 30px;

}

.header .container {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    min-height: fit-content;
}

.boxes .container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
}

.box {
    flex: 1;
    background: var(--navbar-bg);
    color: var(--navbar-box-shadow);
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    box-shadow: 0 3px 5px var(--navbar-box-shadow);
    text-align: justify;

}

.box:hover {
    box-shadow: 3px 12px 14px var(--shadow-color-);
    color: black;
    background: aliceblue;

}

span {
    color: var(--navbar-bg);
}

.box i {
    margin-right: 10px;
}


@media(max-width: 725px) {
    .header .container {
        flex-direction: column-reverse;
        padding-top: 20px;
        text-align: center;
        justify-content: space-around;
        height: 98vh;
    }

    .header {
        height: fit-content;
    }
}

@media(max-height: 610) {
    .header .container {
        height: fit-content;
    }
}

@media(max-width: 670px) {
    .boxes .container {
        display: block;
        text-align: center;
    }

    .box h2 {
        font-size: 25px;
    }

    .header .container {
        margin: 10px;
    }
}

@media(max-width: 600px) {
    .header .container h1 {
        font-size: 28px;
    }
}

@media(max-width: 980px) {
    .box h2 {
        font-size: 22px;
    }
}

@media(max-width: 900px) {
    .boxes .container {
        grid-template-columns: 40% 40%;
        justify-content: center;
    }

}

h2 {
    font-size: 3rem;
    margin: 30px;
    color: var(--navbar-box-shadow);
}

.pra p {
    margin: 35px;
}

.section-box-h2 {
    padding: 50px 0;
}

.lower h3 a {
    text-decoration: none;
    font-size: 30px;
    color: var(--navbar-box-shadow);
}

.lower a {
    text-decoration: none;
    color: var(--navbar-box-shadow);
    font-weight: bold;
    /* font-size: 12px; */

}

.lower i {
    color: var(--navbar-bg);

}

.lower hr {
    width: 94%;
    color: var(--navbar-bg);
    border-color: var(--navbar-bg);
    margin: 25px;
}


.contact {
    background-color: var(--navbar-bg);
    color: var(--navbar-box-shadow);
    min-height: 100vh;
    padding: 50px 0;
    display: flex;
    align-items: center;
}

.contact h2 {
    font-size: 3rem;
    margin-bottom: 30px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    background: var(--sec-clr);
    color: var(--navbar-bg);

}

textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    display: block;
    background-color: var(--sec-clr);
    color: var(--navbar-box-shadow);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-theme button[type="submit"] {
    color: white;
    background: grey;
}

.dark-theme button[type="submit"]:hover {
    background: gray;
    color: black;
}

button[type="submit"]:hover {
    background-color: var(--text-color);
    color: var(--navbar-bg);
}



@media(max-width: 405px) {

    img {
        width: 200px;
    }

    h2 {
        font-size: 1.7rem;
    }

    .contact h2 {
        font-size: 1.7rem;
    }
}

section.project {
    text-align: center;
    padding: 20px;
    height: fit-content;
    padding: 50px 15px;
}

.projects {
    display: grid;
    gap: 10px;
}

.project-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.project{
    margin-top: 40px;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5); /* Red background with 50% opacity */
    z-index: 1; /* Place the overlay above the image */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.project-overlay a{
    color: white;
    text-decoration: none;
}

.project-overlay a:hover{
    text-decoration: underline;
}
.project-text {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    z-index: 0; /* Ensure the image is behind the overlay */
}

.project-container:hover .project-overlay {
    opacity: 1;
}

.project-container:hover .project-image {
    transform: scale(1.1);
}

@media (min-width: 1200px) {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1199px) and (min-width: 769px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .projects {
        grid-template-columns: 1fr;
    }

}
