*{
 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root .dark-theme{
    --background-color: #201f1f;
    --text-color: white; 
    --blog-color: black;
    --btn-color: #0151cc; 
}

:root .light-theme{
    --background-color:  #bdbdbd;
    --text-color: black; 
    --blog-color: white;
    --btn-color: #0151cc; 
}

ul{
    list-style-type: none;
}
.navbar{
    background: var(--blog-color);
    height: 60px;
    color: var(--blog-color);
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 5px var(--text-color);
    z-index: 999;
}


.navbar li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold

}
.navbar li a:hover{
    color: lightblue;
}
.navbar .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.navbar ul{
    display: flex;
}

.navbar ul li{
        margin-left: 20px;
}

body{
    font-family: system-ui;
    background: var(--background-color);
}

.main-container{
    position: relative;
    background: var(--blog-color);
    margin-top: 40px;
}

.title-box{
    height: 200px;
    background: var(--background-color);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.photo img{
    height: 170px;
    width: auto;
    border-radius: 5px 30px;
}

.name h2{
    font-size: 2.2rem;
    color: var(--text-color);
}

.cv-download{
    margin-top: 10px;
    height: 35px;
    padding: 10px;
    background: transparent;
    border: 3px solid var(--btn-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: var(--btn-color);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cv-download a{
    text-decoration: none;
    color: var(--btn-color);
    transition: color 0.3s ease;
}

.cv-download:hover{
    background: var(--btn-color);
    border: 3px solid var(--btn-color);
    cursor: pointer;
}

.cv-download:hover a{
    color: white;
}

@media(max-width: 600px){
    .name h2{
        font-size: 1.5rem;
    }

}

@media(max-width: 490px){
    .photo img{
        height: 140px;
    }
}
.main-box{
    height: fit-content;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}



.box1{
    height: auto;
    background: var(--blog-color);
    width: 44%;
    border: 1px solid var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box2{
    height: auto;
    background: var(--blog-color);
    width: 55%;
    border: 1px solid var(--text-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media(max-width: 940px){
    .main-box{
        flex-direction: column;
        border: 1px solid var(--text-color);
    }

    .box1, .box2{
        width: 97%;
        border: none;
    }
}

#role {
    font-size: 20px;
    font-weight: bold;
    color: grey;
}
  
.sub-header{
    font-size: 20px;
    color: var(--btn-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.paragraph{
    font-size: 18px;
    text-align: justify;
    color: var(--text-color);
}

@media(max-width: 600px){
    .paragraph{
        font-size: 15px;
    }
}

.contact-box{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

span{
    color: hotpink;
}


.schools, .experience-box, .project-box, .extra_curricular-box, .additional-box{
    margin: 10px 20px;
}

.schools h4{
    color: hotpink;
    font-size: 22px;
}

.education-box, .experience-box, .project-box, .skills-box, .extra_curricular-box, .additional-box{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.skills-box{
    width: 90%;
}

hr{
    width: 80%;
    color: var(--text-color);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid grey;
    text-align: left;
    padding: 8px;
    color: var(--text-color);
}

th {
    background-color: grey;
}

.paragraph a{
    color: red;
}

.rating-bar.excellent {
    background-color: #4CAF50; /* Green */
    width: 80%;
}

.rating-bar.good {
    background-color: #2196F3; /* Blue */
    width: 70%;
}

.rating-bar.intermediate {
    background-color: #FFC107; /* Yellow */
    width: 60%;
}

.rating-bar.basic {
    background-color: #FF5722; /* Red */
    width: 50%;
}
.rating-bar { 
    height: 10px;
}