@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root .light-theme {
    --bg-color: #bdbdbd;
    --text-color: #333;
    --h4-color: #0151cc;
    --navbar-bg: white;
    --sec-clr: grey;
    --navbar-color: #fff;
    --navbar-box-shadow: black;
    --box-color: rgb(51, 51, 51);
    --shadow-color-: black;

}

:root .dark-theme {
    --bg-color: #201f1f;
    --text-color: white;
    --h4-color: #0151cc;
    --navbar-bg: black;
    --sec-clr: #fff;
    --navbar-color: #fff;
    --navbar-box-shadow: white;
    --box-color: rgb(51, 51, 51);
    --shadow-color-: rgb(201, 201, 201);
}

.log {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 23px;
    justify-content: center;
    align-items: center;
}

.log i {
    padding: 23px;
    font-size: 34px;
    transition: transform 0.5s ease;
}

.log i:hover {
    font-size: 60px;
    transform: scale(1.5);
    cursor: pointer;
}


.fa-brands .fa-github {
    color: var(--navbar-bg);
}

.dark-theme .fa-github {
    color: white;
}

.light-theme .fa-github {
    color: black;
}

.copy h4 {
    font-family: cursive;
    font-weight: lighter;
    font-size: 14px;

}


.contact-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}

.contact-detail h4 {
    font-family: cursive;
    font-weight: lighter;
    font-size: 14px;
}

.contact-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

.contact-flex h4 {
    color: var(--text-color);
    margin: 0px;
}



@media(max-width: 945px) {
    .contact-flex {
        flex-direction: column;
    }

    .contact-detail {
        width: 100%;
    }
}

@media(max-width: 500px) {
    .contact-detail {
        flex-direction: column;
    }
}